In [85]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd

In [59]:
executable_path={'executable_path':"chromedriver.exe"}
browser=Browser("chrome", **executable_path, headless=False)

In [60]:
url='https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [61]:
response = requests.get(url)
html=response.text

In [62]:
soup = bs(html,'html.parser')

In [63]:
title = soup.find('div', class_='content_title')
news_title1= title.find('a').text
news_p1 = soup.find('div',class_='image_and_description_container')
newsp = news_p1.find('div',class_='rollover_description')
paragraph = newsp.find('div',class_='rollover_description_inner').text
# .textnews_title1
# pprint(news_date)
print(news_title1)
print(paragraph)

Alabama High School Student Names NASA's Mars Helicopter


Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

In [73]:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16225_hires.jpg'
browser.visit(featured_image_url)

In [75]:
featured_image = soup.find('img', class_='fancybox-image')
print(featured_image)

None

In [76]:
mars_weather_url = 'https://twitter.com/marswxreport?lang=en'

In [77]:
response = requests.get(mars_weather_url)
html=response.text

In [78]:
soup = bs(html, 'html.parser')

In [57]:
mars_weather_1 = soup.find('span', class_="css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0")
mars_weather = mars_weather_1.find ('span')
print(mars_weather)

AttributeError: 'NoneType' object has no attribute 'find'

In [69]:
mars_weather_1 = soup.find('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")
mars_weather = mars_weather_1.find('span')

AttributeError: 'NoneType' object has no attribute 'find'

In [46]:
print(mars_weather)

None

In [82]:
mars = soup.find('article', class_="css-1dbjc4n r-1loqt21 r-16y2uox r-1wbh5a2 r-1ny4l3l r-1udh08x r-1j3t67a r-o7ynqc r-6416eg").text

AttributeError: 'NoneType' object has no attribute 'text'

In [86]:
mars_facts_url='https://space-facts.com/mars/'

In [87]:
tables = pd.read_html(mars_facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [ ]:
hemisphere_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

In [ ]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]