In [89]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
import pandas as pd
import os
import pymongo

In [90]:
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [91]:
db = client.NASA_db
collection = db.items

In [92]:
response = requests.get(url)
soup = bs(response.text, 'lxml')

In [99]:
title = soup.find('div', class_='content_title').\
    find('a').text
news_p1 = soup.find('div',class_='image_and_description_container')
newsp = news_p1.find('div',class_='rollover_description')
paragraph = newsp.find('div',class_='rollover_description_inner').text
# .textnews_title1
# pprint(news_date)
print(title)
print(paragraph)

Alabama High School Student Names NASA's Mars Helicopter


Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.

In [94]:
executable_path={'executable_path':"chromedriver.exe"}
browser=Browser("chrome", **executable_path, headless=False)

In [71]:
url='https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

In [84]:
response = requests.get(url)
html=response.text

ValueError: No tables found

In [52]:
soup = bs(html,'html.parser')

In [85]:
title = soup.find('div', class_='content_title').text
title


# news_title1= title.find.text
# news_p1 = soup.find('div',class_='image_and_description_container')
# newsp = news_p1.find('div',class_='rollover_description')
# paragraph = newsp.find('div',class_='rollover_description_inner').text
# # .textnews_title1
# # pprint(news_date)
# print(news_title1)
# print(paragraph)

"\n\nAlabama High School Student Names NASA's Mars Helicopter\n\n"

In [86]:
title = soup.find('li', class_='slide')
title1 = title.find('a')
# news_title1=title.find('a').text
# news_title1

AttributeError: 'NoneType' object has no attribute 'find'

In [87]:
title=soup.find_all('div', class_="image_and_description_container")
title

[<div class="image_and_description_container">
 <a href="/news/8659/alabama-high-school-student-names-nasas-mars-helicopter/">
 <div class="rollover_description">
 <div class="rollover_description_inner">
 Vaneeza Rupani's essay was chosen as the name for the small spacecraft, which will mark NASA's first attempt at powered flight on another planet.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>
 <img alt="Alabama High School Student Names NASA's Mars Helicopter" class="img-lazy" data-lazy="/system/news_items/list_view_images/8659_1-PIA23883-MAIN-320x240.jpg" src="/assets/loading_320x240.png"/>
 </a>
 </div>,
 <div class="image_and_description_container">
 <a href="/news/8645/mars-helicopter-attached-to-nasas-perseverance-rover/">
 <div class="rollover_description">
 <div class="rollover_description_inner">
 The team also fueled the rover's sky crane to get ready for this summer's history-making launch.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>
 <img alt="Mars Helicopter Attached to NASA's Perseverance Rover" class="img-lazy" data-lazy="/system/news_items/list_view_images/8645_PIA23824-RoverWithHelicopter-32x24.jpg" src="/assets/loading_320x240.png"/>
 </a>
 </div>,
 <div class="image_and_description_container">
 <a href="/news/8641/nasas-perseverance-mars-rover-gets-its-wheels-and-air-brakes/">
 <div class="rollover_description">
 <div class="rollover_description_inner">
 After the rover was shipped from JPL to Kennedy Space Center, the team is getting closer to finalizing the spacecraft for launch later this summer.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>
 <img alt="NASA's Perseverance Mars Rover Gets Its Wheels and Air Brakes" class="img-lazy" data-lazy="/system/news_items/list_view_images/8641_PIA-23821-320x240.jpg" src="/assets/loading_320x240.png"/>
 </a>
 </div>,
 <div class="image_and_description_container">
 <a href="/news/8634/109-million-names-now-aboard-nasas-perseverance-mars-rover/">
 <div class="rollover_description">
 <div class="rollover_description_inner">
 As part of NASA's 'Send Your Name to Mars' campaign, they've been stenciled onto three microchips along with essays from NASA's 'Name the Rover' contest. Next stop: Mars.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>
 <img alt="10.9 Million Names Now Aboard NASA's Perseverance Mars Rover" class="img-lazy" data-lazy="/system/news_items/list_view_images/8634_PIA23769-320x240.jpg" src="/assets/loading_320x240.png"/>
 </a>
 </div>,
 <div class="image_and_description_container">
 <a href="/news/8622/virginia-middle-school-student-earns-honor-of-naming-nasas-next-mars-rover/">
 <div class="rollover_description">
 <div class="rollover_description_inner">
 NASA chose a seventh-grader from Virginia as winner of the agency's "Name the Rover" essay contest. Alexander Mather's entry for "Perseverance" was voted tops among 28,000 entries.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>
 <img alt="Virginia Middle School Student Earns Honor of Naming NASA's Next Mars Rover" class="img-lazy" data-lazy="/system/news_items/list_view_images/8622_1-PIA23764-RoverNamePlateonMars-320x240.jpg" src="/assets/loading_320x240.png"/>
 </a>
 </div>,
 <div class="image_and_description_container">
 <a href="/news/8606/nasa-prepares-for-moon-and-mars-with-new-addition-to-its-deep-space-network/">
 <div class="rollover_description">
 <div class="rollover_description_inner">
 Robotic spacecraft will be able to communicate with the dish using radio waves and lasers.
 </div>
 <div class="overlay_arrow">
 <img alt="More" src="/assets/overlay-arrow.png"/>
 </div>
 </div>
 <img alt="NASA Prepares for Moon and Mars With New Addition to Its Deep Space Network" class="img-lazy" data-lazy="/system/news_items/list_view_images/8606_list_image.jpg" src="/assets/loading_320x240.png"/>
 </a>
 </div>]

In [88]:
title = soup.find('a', target="_self")
title